@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Hilary';
    src: url('/fonts/Hilary.otf');
}

html {
    font-family: 'Hilary', Arial, sans-serif;
}

.paper {
    @apply p-8 flex flex-col gap-8 items-center justify-center transition-all;
}

.nextStepButton {
    @apply w-36 h-14;
    background-color: #3a7306 !important;
}
